.deliverycontainer{
    color: black;
    background: white;
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.deliveryTitle{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.deliveryName{
    font-size: 20px;
}

.deliVeryHolder{
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}
.delivery{
    display: flex;
    gap: 2px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.delivery img{
    width: 200px;
}
.delivery .span1{
    background: orange;
    border-radius: 10px;
}
.deliverycontainer button{
    width: 300px;
    height: 50px;
    font-size:20px ;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background: rgb(39, 116, 39);
    border-radius: 30px;
}

@media (max-width:768px) {
    .deliverycontainer{
        gap: 20px;
        padding: 20px;
    }
    .deliveryTitle{
        font-size: 23px;
    }
    .deliveryName{
        font-size: 18px;
    }
    .deliVeryHolder{
        gap: 25px;
    }
.delivery img{
    width: 170px;
}
.deliverycontainer button{
    width: 300px;
    height: 50px;
    font-size:20px ;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background: rgb(39, 116, 39);
    border-radius: 30px;
}   
}