.footerContainer{
    display: flex;
    flex-direction: column;
    background: #000;
    color: white;
    gap: 20px;
    padding: 20px 50px 35px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.boldText{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botton{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.legals{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    gap: 20px;
}
.listText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
select {
    border: 1px solid white;
    background: #000;
    width: 250px;
    height: 30px;
    font-size: 20px;
    color: white;
}