.headerContainer{
    background: orange;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed ;
}
.headerHolder{
     background:    rgb(255, 166, 0);
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
}
.glovoLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.glovoLogo img{
    width: 100px;
    height: 100px;
}
.loginHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.loginHolder button{
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid  rgba(59, 148, 59, 0.973);
    background: rgba(59, 148, 59, 0.973);
}