.downloadSection{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
.downloadHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-download{
    width: 250px;
    height: 200px;
}
.text1{
    font-size: 30px;   
     color: black; 
}
.text2{
     color: black; 
     font-size: 20px; 
}
.btn-holder{
    width: 100px;
    background: #000;
    border-radius: 5px;
    color: white;

}
.phoneImg{
    width: 50%;
}