.topCitiesContainer{
    background: orange;
    color: black;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.topCitiesWrapper{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.topCitiesHolder{
    width: 100px;
    height: 100px;
}
.topCitiesButton{
    display: flex;justify-content: center;
    gap: 10px;
}
.topCitiesButton button{
    height: 30px;
    border-radius: 30px;
    background: white;
    color: black;
    border: 1px solid white;
    font-size: 12px;
}
.browserButton{
     height: 30px;
background: green;
border: none;
border-radius: 30px;
}
