.resturantContainer{
    color: black;
    background: white; 
}
.title1{
    font-size: 30px;
}
.resturantHolder{
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.resturant{
    width: 200px;
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.resturant img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.resturant p{
    margin-top: -20px;
    background: rgb(230, 187, 113);
    width: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}

@media(max-width:768px){
    .resturantHolder{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:425px){
    .resturantHolder{
        grid-template-columns: 1fr 1fr;
        padding:  1px;
    }
    .resturant img{
    width: 90px;
    height: 80px;
}
    .resturant p{
        width: auto;
        border-radius: 5px;
        padding: 2px 5px;
    }
    
}